#container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	padding-left: 64px;
}

body, html {
    /*height: 90%;*/
}

.big-button {
    height: 100px;
    width: 200px;
}

#create-button {
    height: 64px;
    width: 200px;
}

#site-description {
    max-width: 500px;
}

.loader {
  border: 16px solid #dbdbdb;
  border-top: 16px solid #202b38;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
