#home {
    position: fixed;
    left: 90%;
    bottom: 90%;
    cursor: pointer;
}

#status {
    display: flex;
    flex-direction: row;
}

#connected-count {
    font-size: xx-large;
}

#connected-count-value {
    font-size: 64pt;
}

#buttons {
    padding-top: 8px
}

#status-vspace {
    width: 1px;
    min-height: 150px;
    max-height: 200px;
    margin: auto 32px;
    background-color: white;
}

#status-breakdown {
    font-size: large;
    margin: auto 0;
}

.round-button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#copied {
    position: absolute;
    top: 80%;
    left: 49%;
}
