#home {
    position: fixed;
    left: 90%;
    bottom: 90%;
    cursor: pointer;
    display: inline;
}

#status {
    display: flex;
    flex-direction: row;
}

#connected-count {
    font-size: xx-large;
}

#connected-count-value {
    font-size: 64pt;
}

#buttons {
    padding-top: 32px
}

#status-vspace {
    width: 1px;
    min-height: 150px;
    max-height: 200px;
    margin: auto 32px;
    background-color: white;
}

#status-breakdown {
    font-size: large;
    margin: auto 0;
    text-align: left;
}

.round-button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin: 0 8px;
}

#copied {
    position: absolute;
    top: 80%;
    left: 49%;
}

#small-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    width: 100%;
}

.button-icon {
    height: 40px;
    width: 40px;
}

.smoothline {
    fill: none;
    stroke-width: 3px;
}

.circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 4px;
}
